.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.text {
    margin-left: 10%;
    color: #F9FAF8;
    width: 25%;
    flex: 0 1 auto;
}

.text p {
    margin: 0px;
    color: #E5E7EB;
    padding-left: 20px;
}

.text .big {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 6px;
}

.text .small {
    font-size: 18px;
}

#button {
    display: block;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.25rem;
    text-align: center;
    border: 0px;
    border-radius: 8px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
}

.graphic {
    flex: 0 0 auto;
    width: 30%;
    min-width: 30%;
    height: 25%;
    margin-right: 10%;
    margin-left: auto;
}

#image {
    height: 234px;
}