{% extends "header.html" %}

{% block head %}

    <title>Erro!</title>
    <link rel="stylesheet" href="../static/funcoes.css">
    <link rel="stylesheet" href="../static/error.css">

{% endblock %}

{% block body %}

    <main class="main">
        <div class="text">
            <p class="big">Erro!</p>
            <p class="small">Não pode editar o html, sacana.<br>Só tá podendo digitar números.</p>
        </div>
        <div class="graphic"><img id="image" alt="exemplo de gráfico" src="https://images8.alphacoders.com/106/1061990.jpg"></div>
    </main>

{% endblock %}