<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/header.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <ul class="navbar">
            <li id="logo">Horárias</li>
            <li><a class="link" href="/">Início</a></li>
            <div class="dropdown">
                <li id="funcoes">Funções</li>
                <div class="content">
                    <a class="link" href="/posicao">Posição</a>
                    <a class="link" href="/velocidade">Velocidade</a>
                    <a class="link" href="/espaco">Espaço</a>
                </div>
            </div>
            <li id="sobre"><a class="link" href="/sobre">Sobre</a></li>
        </ul>
    </header>
    {% block body %}{% endblock %}
</body>
</html>