<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Horárias</h1>
        <ul class="navbar">
            <li><a class="link" href="#">Início</a></li>
            <div class="dropdown">
                <li>Funções</li>
                <div class="content">
                    <a class="link" href="#">Posição</a>
                    <a class="link" href="#">Velocidade</a>
                    <a class="link" href="#">Espaço</a>
                </div>
            </div>
            <li><a class="link" href="#">Sobre</a></li>
        </ul>
    </div>
</body>
</html>