{% extends "header.html" %}

{% block head %}

    <title>Início</title>
    <link rel="stylesheet" href="../static/index.css">

{% endblock %}

{% block body %}

    <main class="main">
        <div class="text">
            <p class="big">Crie gráficos de funções horárias!</p>
            <p class="small">Analise gráficos feitos em tempo real para obter informações visuais de movimentos simples.</p>
            <a id="button" href="/posicao">Começar</a>
        </div>
        <!-- <div class="graphic"><img id="image" alt="exemplo de gráfico" src="https://images8.alphacoders.com/106/1061990.jpg"></div> -->
    </main>

{% endblock %}