<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posição</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/posicao.css">
</head>
<body>
    <header class="header">
        <ul class="navbar">
            <li id="logo">Horárias</li>
            <li><a class="link" href="/">Início</a></li>
            <div class="dropdown">
                <li id="funcoes">Funções</li>
                <div class="content">
                    <a class="link" href="/posicao">Posição</a>
                    <a class="link" href="/velocidade">Velocidade</a>
                    <a class="link" href="/espaco">Espaço</a>
                </div>
            </div>
            <li><a class="link" href="/sobre">Sobre</a></li>
        </ul>
    </header>
    <main class="main">
        <h1>Posição</h1>
        <form class="form" action="/result" method="post">
            <input name="s0" placeholder="Posição inicial" autocomplete="off" autofocus>
            <input name="v" placeholder="Velocidade" autocomplete="off">
            <button>Gerar Gráfico</button>
        </form>
    </main>