{% extends "header.html" %}

{% block head %}

    <title>Velocidade</title>
    <link rel="stylesheet" href="../static/funcoes.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% endblock %}

{% block body %}

    <main class="main">
        <h1>Velocidade</h1>

        <form class="form" action="/result" method="post">
            <div class="unidade">
                <h2>\(v(t) = v₀ + a.t\)</h2>
                <label class="switch">
                    <input type="checkbox" name="seletor_unidade">
                    <span class="slider round"></span>
                </label> 
                <span id="unidade">m/s</span>
            </div>
            <script>
                const seletor = document.querySelector('input[name="seletor_unidade"]');
                const unidade = document.getElementById("unidade");
    
                seletor.addEventListener("change", function() {
                    if (seletor.checked) {
                        unidade.textContent = "km/h"
                    }
                    else {
                        unidade.textContent = "m/s"
                    }
                });
            </script>

            <input type="number" step="0.01" name="v0" placeholder="Velocidade inicial" autocomplete="off" autofocus required>
            <input type="number" step="0.01" name="ac" placeholder="Aceleração" autocomplete="off" required>
            <input type="number" step="0.01" min="1" name="t" placeholder="Tempo" autocomplete="off">
            <button>Gerar Gráfico</button>
        </form>
    </main>

{% endblock %}